/**
 * Styles for the WP Admin plugin options page
 *
 * This file contains CSS.
 *
 * @link        https://github.com/dotherightthing/wpdtrt-weather
 * @since       0.1.0
 *
 * @package     WPDTRT_Weather
 */
/**
 * SCSS variables
 *
 * @package     WPPlugin
 * @since       1.0.0
 */
/**
 * SCSS @extends
 *
 * @package     WPPlugin
 * @since       1.0.0
 */
.wpdtrt-plugin-screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
}

.clear::after {
  content: "";
  display: block;
  clear: both;
}

.list-reset {
  list-style: none;
  padding: 0;
  margin: 0;
}

.text-sharpen {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
