//
// Styles for the public front-end
//
// @package     WPDTRT_Weather
// @version 	0.0.1
// @since       0.7.5
//

@import "vendor/dotherightthing/wpdtrt-plugin/scss/_variables.scss";
@import "vendor/dotherightthing/wpdtrt-plugin/scss/_extends.scss";
@import "variables";
@import "extends";
@import "node_modules/weather-icons/sass/weather-icons.scss";

// -------------------------------------------------------------------
// Styles
// -------------------------------------------------------------------

.wpdtrt-weather {
	display: inline-block;
	background-color: $wpdtrt-weather-bg-color;
	font-family: sans-serif;
	font-size: 15px;
	padding: 11px;
	border: 1px dotted $wpdtrt-weather-border-color;
	border-radius: 4px;

	&--summary {
		@extend .wpdtrt-plugin-screen-reader-text;
	}

	&--icon {
		background-color: $wpdtrt-weather-icon-bg-color;
		color: $wpdtrt-weather-icon-color;
		display: inline-block;
		padding: 11px;
		border-right: 1px solid $wpdtrt-weather-icon-divider-color;
		border-radius: 4px 0 0 4px;
		margin: -11px 11px -11px -11px;
	}

	&--min {
		font-weight: bold;
		color: $wpdtrt-weather-icon-color--min;
	}

	&--range {
		color: $wpdtrt-weather-text-color;
	}

	&--max {
		font-weight: bold;
		color: $wpdtrt-weather-icon-color--max;
	}

	&--unit {
		color: $wpdtrt-weather-text-color;

		abbr {
			text-decoration: none;
		}
	}
}

// -------------------------------------------------------------------
// Media Queries
// -------------------------------------------------------------------

